<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

<head>
    {% include "theme::partials/metadata" %}
</head>
<body>
{% include "theme::partials/navigation" %}

<!-- Main Wrapper -->
<div id="main-wrapper">
    {% include "theme::partials/header" %}

    <!-- Page Banner Section Start -->

    <div class="page-banner-section section mt-30 mb-30">
        <div class="container">
            <div class="row row-1">
                <div class="col-lg-8 col-12">
                    <div class="page-banner" style="background-image: url({{ img('theme::img/banner/banner-view.jpg').url }}); height: 100%;">
                        <h2>Tag: <span class="category-sports">{{ trans('anomaly.module.posts::message.tagged', {'tag': tag}) }}</span></h2>
                    </div>
                </div>
                <div class="page-banner-image col-lg-4 col-12 d-none d-lg-block"><img src="{{ img('theme::img/banner/sidebar-banner-2.jpg').url }}" alt="Page Banner Image"></div>
            </div>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Post Section Start -->
    <div class="post-section section mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mb-50">
                    <div class="post-block-wrapper">
                        <div class="body">
                            <div class="row">
                                {% set posts = entries('posts').where('enabled',1).whereTags('LIKE', '%"' ~ route_parameter('tag') ~ '"%').paginate() %}
                                {% for post in posts %}
                                    <div class="post sports-post post-separator-border col-md-6 col-12">
                                        <div class="post-wrap">

                                            <a class="image" href="{{ post.route('view') }}">
                                                <img src="{{ img('theme::img/post/post-124.jpg').url }}" alt="post">
                                            </a>

                                            <div class="content">
                                                <h4 class="title">
                                                    <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                                </h4>

                                                <div class="meta fix">
                                                    <a href="#" class="meta-item author">
                                                        <i class="fa fa-user"></i>
                                                        {{ post.author.display_name }}
                                                    </a>

                                                    <a href="{{ post.category.route('view') }}" class="meta-item category feature">{{ post.category.name }}</a>

                                                    <span class="meta-item date">
                                                    <i class="fa fa-clock-o"></i>
                                                {{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                                </span>
                                                </div>
                                                {% if post.summary.value %}
                                                    <p>{{ post.summary|nl2br|raw }}</p>
                                                {% endif %}
                                                <a href="{{ post.route('view') }}" class="read-more">Detay</a>
                                            </div>

                                        </div>
                                        <div class="meta fix">
                                            {% for tag in post.tags.value %}
                                                <a href="{{ url_route('anomaly.module.posts::tags.view', {'tag': tag}) }}" class="meta-item category gadgets">{{ tag }},</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="page-pagination text-center col-12">
                                    {{ posts.links|raw }}
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <!-- Sidebar Start -->
                {% include "theme::partials/category-partials/category-page-sidebar" %}
                <!-- Sidebar End -->

            </div>
        </div>
    </div>
</div>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}

</body>

</html>
