
{{ asset_add("theme.js", "theme::js/vendor/modernizr-2.8.3.min.js") }}
{{ asset_add("theme.js", "theme::js/counter.js") }}
{{ asset_add("theme.js", "theme::js/popper.min.js") }}
{{ asset_add("theme.js", "theme::js/bootstrap.min.js") }}
{{ asset_add("theme.js", "theme::js/plugins.js") }}
{{ asset_add("theme.js", "theme::js/rypp.js") }}
{{ asset_add("theme.js", "theme::js/ajax-mail.js") }}
{{ asset_add("theme.js", "theme::js/widget.js") }}
{{ asset_add("theme.js", "theme::js/main.js") }}

{{ asset_script("theme.js") }}