<div class="footer-top-section section bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="footer-widget col-xl-2 col-md-6 col-12 mb-60">
            </div>
            <!-- Footer Widget Start -->
            <div class="footer-widget col-xl-2 col-md-6 col-12 mb-60">

                <!-- Title -->
                <h4 class="widget-title">Hakkımızda</h4>

                <div class="content fix">
                    <p>{{ setting_value('visiosoft.theme.metsa::site-description') }}</p>

                    <!-- Footer Contact -->
                    <ol class="footer-contact">
                        <li><i class="fa fa-home"></i>{{ setting_value('visiosoft.theme.metsa::site-address') }}</li>
                        <li>
                            <i class="fa fa-headphones"></i>{{ setting_value('visiosoft.theme.metsa::site-support-phone') }}
                        </li>
                    </ol>
                    <!-- Footer Social -->
                    <div class="footer-social">
                        <a href="{{ setting_value('visiosoft.theme.metsa::facebook-url') }}" class="facebook"><i
                                    class="fa fa-facebook"></i></a>
                        <a href="{{ setting_value('visiosoft.theme.metsa::twitter-url') }}" class="twitter"><i
                                    class="fa fa-twitter"></i></a>
                        <a href="{{ setting_value('visiosoft.theme.metsa::instagram-url') }}" class="instagram"><i
                                    class="fa fa-instagram"></i></a>
                        <a href="{{ setting_value('visiosoft.theme.metsa::youtube-url') }}" class="youtube"><i
                                    class="fa fa-youtube"></i></a>
                    </div>

                    {{ blocks('advs-default-theme-yasaluyari-bottom') }}

                </div>
                <div class="single-sidebar col-lg-12 col-md-6 col-12" style="margin-top: 20px;">
                    {{ blocks('advs-default-theme-weather-bottom') }}

                </div>
            </div><!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">
                <h4 class="widget-title">Popüler Haberler</h4>


                {% set most_read_list = entries('posts','default_posts').orderBy('view_count','desc').paginate(3).pluck('id','id') %}
                {% set most_read = entries('posts').where('enabled', 1).whereIn('posts_posts.id', most_read_list).paginate() %}
                {% for post in most_read %}
                    <div class="footer-widget-post">
                        <div class="post-wrap">

                            <a href="{{ post.route('view') }}" class="image">
                                {% if post.photo != "" %}
                                    <img src="{{ post.photo.url }}" class="footer-popular-img" alt="post">
                                {% else %}
                                    <img src="{{ img('theme::img/post/post-33.jpg').url }}" alt="post">
                                {% endif %}
                            </a>

                            <div class="content">
                                <h5 class="title">
                                    <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                </h5>

                                <div class="meta fix">
                                      <span class="meta-item date">
                                         <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                      </span>
                                </div>
                                <div class="meta fix">
                                    <span class="meta-item category">
                                        <a href="{{ post.category.route('view') }}"
                                           class="meta-item category">{{ post.category.name }}</a>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>


            <!-- Footer Widget Start -->

            <div class="footer-widget col-xl-3 col-md-6 col-12 mb-60">
                <h4 class="widget-title">Twitter Güncel</h4>
                <div class="tw-feed">
                    <a class="twitter-timeline" href="https://twitter.com/ntvspor" data-theme="dark"
                       data-link-color="#ccc" background="#333" border-radius="none"
                       data-chrome="nofooter noborders" data-widget-id="413723523169787904"
                       data-screen-name="{{ setting_value('visiosoft.theme.metsa::twitter-feed') }}"
                       data-show-replies="false" data-tweet-limit="1"
                       width="500"></a>
                </div>
            </div>
        </div>
    </div><!-- Footer Top Section End -->
    {{ blocks('advs-default-theme-analitic-bottom') }}
    <!-- Footer Bottom Section Start -->

    <div class="footer-bottom-section section bg-dark">
        <div class="container">
            <div class="row">

                <!-- Copyright Start -->
                <div class="copyright text-center col">
                    <p>Copyright © 2019 All Rights Reserved. | <a href="https://visiosoft.com.tr">Visiosoft LTD.</a></p>
                </div><!-- Copyright End -->

            </div>
        </div>
    </div>
</div>