<div class="header-top section">
    <div class="container">
        <div class="row">
            <div class="header-top-links col-md-2 col-1">
                <ul class="header-links">

                    <li class="d-none d-md-block">

                        <a href="#"><i class="fa fa-mixcloud"></i>
                            <span class="weather-degrees">20
                                <span class="unit">c</span>
                            </span>
                            <span class="weather-location">- İstanbul</span>
                        </a>
                    </li>
                    <li><a href="/contact"><i class="fa fa-headphones"></i>İletişim</a></li>

                </ul>

            </div>
            <div class=" col-md-3 col-3">
                {{ blocks('advs-default-theme-döviz-bottom') }}

            </div>
            <div class="header-top-social col-md-6 col-6">
                <div class="header-social">
                    <a href="{{ setting_value('visiosoft.theme.metsa::facebook-url') }}"><i class="fa fa-facebook"></i></a>
                    <a href="{{ setting_value('visiosoft.theme.metsa::twitter-url') }}"><i class="fa fa-twitter"></i></a>
                    <a href="{{ setting_value('visiosoft.theme.metsa::instagram-url') }}"><i class="fa fa-instagram"></i></a>
                    <a href="{{ setting_value('visiosoft.theme.metsa::youtube-url') }}"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-section section">
    <div class="container">
        <div class="row align-items-center">
            <div class="header-logo col-md-3 d-none d-md-block">
                <a href="/" class="logo">
                    {% if setting_value('visiosoft.theme.metsa::web-logo') == "" %}
                        <img src="{{ img('theme::img/logo.png').url }}" alt="Logo">
                    {% else %}
                        <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::web-logo')).path) }}" alt="Logo">
                    {% endif %}
                </a>
            </div>

            <!-- Header Banner -->
            <div class="header-banner col-md-8 col-12">
                <div class="banner">
                    <a href="#">
                        {% if setting_value('visiosoft.theme.metsa::header-banner-type') == "code" %}
                            {{ setting_value('visiosoft.theme.metsa::header-banner-code')|raw }}
                        {% else %}
                            {% if setting_value('visiosoft.theme.metsa::header-banner-image') == "" %}
                                <img src="{{ img('theme::img/banner/header-banner-2.jpg').url }}" alt="Header Banner">
                            {% else %}
                                <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::header-banner-image')).path) }}" alt="Header Banner">
                            {% endif %}
                        {% endif %}

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu-section section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="menu-section-wrap">
                    <div class="main-menu float-left d-none d-md-block">
                        <nav>
                            <ul>
                                {% include "theme::partials/navigation-category-list" %}
                            </ul>
                        </nav>
                    </div>
                    <!-- Main Menu Start -->

                    <div class="mobile-logo d-none d-block d-md-none">
                        <a href="/">
                            {% if setting_value('visiosoft.theme.metsa::mobile-logo') == "" %}
                            <img src="{{ img('theme::img/logo.png').url }}" alt="Logo">
                            {% else %}
                                <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::mobile-logo')).path) }}" alt="Logo">
                            {% endif %}
                        </a>
                    </div>

                    <!-- Header Search -->
                    <div class="header-search float-right">

                        <!-- Search Toggle -->
                        <button class="header-search-toggle"><i class="fa fa-search"></i></button>

                        <!-- Header Search Form -->
                        <div class="header-search-form">
                            <form action="#">
                                <input type="text" placeholder="Search Here">
                            </form>
                        </div>

                    </div>

                    <!-- Mobile Menu Wrap -->
                    <div class="mobile-menu-wrap d-none">
                        <nav>
                            <ul>
                                {% include "theme::partials/navigation-category-list" %}
                            </ul>
                        </nav>
                    </div>

                    <!-- Mobile Menu -->
                    <div class="mobile-menu"></div>

                </div>
            </div>
        </div>
    </div>
</div><!-- Menu Section End -->