<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="{{ trans(template.meta_keywords) | default(page.keywordtext) }}"/>
<title>    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}</title>
<meta name="description"
      content="{{ trans(template.meta_description) | default(page.introtext) }}"/>
<meta name="author" content="www.visiosoft.com.tr"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<!-- favicon icon -->

<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<!-- inject css start -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{{ asset_add("theme.css", "theme::css/bootstrap.min.css") }}
    {{ asset_add("theme.css", "theme::css/font-awesome.min.css") }}
    {{ asset_add("theme.css", "theme::css/plugins.css") }}
    {{ asset_add("theme.css", "theme::css/rypp.css") }}
    {{ asset_add("theme.css", "theme::css/main.css") }}
    {{ asset_style("theme.css") }}


    {{ asset_add("jquery.js", "theme::js/vendor/jquery-1.12.0.min.js") }}
    {{ asset_script("jquery.js") }}