<li class="active"><a href="/">SON DAKİKA</a></li>
{% set allowedCategories = setting_value('visiosoft.theme.metsa::navigation-categories') %}
                                {% set categories = entries('posts','categories').whereIn('id',allowedCategories ).orderBy('id', 'desc').get() %}
                                {% for category in categories %}
                                    <li><a href="{{ category.route('view') }}">{{ category.name }}</a></li>
                                {% endfor %}
                                {#                                <li class="has-dropdown"><a href="category-lifestyle.html">yaşam</a>#}

                                {#                                    <!-- Mega Menu Start -->#}
                                {#                                    <div class="mega-menu">#}

                                {#                                        <!-- Menu Tab List Start -->#}
                                {#                                        <ul class="menu-tab-list nav">#}
                                {#                                            <li><a class="active" data-toggle="tab" href="#menu-tab-one">Seyahat</a></li>#}
                                {#                                            <li><a data-toggle="tab" href="#menu-tab-two">Spor</a></li>#}
                                {#                                            <li><a data-toggle="tab" href="#menu-tab-one">Seyahat</a></li>#}
                                {#                                            <li><a data-toggle="tab" href="#menu-tab-two">Eğlence</a></li>#}
                                {#                                            <li><a data-toggle="tab" href="#menu-tab-one">Teknoloji</a></li>#}
                                {#                                            <li><a data-toggle="tab" href="#menu-tab-two">Sağlık</a></li>#}
                                {#                                        </ul><!-- Menu Tab List End -->#}

                                {#                                        <!-- Menu Tab Content Start -->#}
                                {#                                        <div class="tab-content menu-tab-content fix">#}
                                {#                                            <!-- Menu Tab Pane Start -->#}
                                {#                                            <div class="tab-pane fade show active" id="menu-tab-one">#}
                                {#                                                <div class="row">#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-136.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Marilyn Monroe’s beauty secrets the most</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-137.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Hynpodia helps fmaletravelers find health.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-138.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-139.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-140.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">How do you solve the long tiredness.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-141.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Australia announced squad for Bangladesh tour</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-142.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Fance fry with chicken burger.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-143.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Fashion is about some thing that comes . . . . </a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                </div>#}
                                {#                                            </div><!-- Menu Tab Pane End -->#}

                                {#                                            <!-- Menu Tab Pane Start -->#}
                                {#                                            <div class="tab-pane fade" id="menu-tab-two">#}
                                {#                                                <div class="row">#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-140.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">How do you solve the long tiredness.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-141.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Australia announced squad for Bangladesh tour</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-142.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Fance fry with chicken burger.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-143.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Fashion is about some thing that comes . . . . </a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-136.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Marilyn Monroe’s beauty secrets the most</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-137.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Hynpodia helps fmaletravelers find health.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-138.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                    <!-- Post Start -->#}
                                {#                                                    <div class="post post-small col-lg-3 col-md-4 mb-30">#}
                                {#                                                        <div class="post-wrap">#}
                                {#                                                            <a href="post-details.html" class="image"><img src="img/post/post-139.jpg" alt="Post"></a>#}
                                {#                                                            <div class="content">#}
                                {#                                                                <h5 class="title"><a href="post-details.html">Upcoming Event 10 Dec at Bonobisree Area.</a></h5>#}
                                {#                                                            </div>#}
                                {#                                                        </div>#}
                                {#                                                    </div><!-- Post End -->#}

                                {#                                                </div>#}
                                {#                                            </div><!-- Menu Tab Pane End -->#}

                                {#                                        </div><!-- Menu Tab Content End -->#}

                                {#                                    </div><!-- Mega Menu End -->#}

                                {#                                </li>#}
