<div class="col-lg-4 col-12 mb-50">
    <div class="row">

        {{ blocks('advs-default-theme-social-bottom') }}


        <!-- Single Sidebar -->
        <div class="single-sidebar col-lg-12 col-md-6 col-12">

            <!-- Sidebar Banner -->
            <a href="#" class="sidebar-banner">
                {% if setting_value('visiosoft.theme.metsa::categories-sidebar-banner-one-type') == "code" %}
                    {{ setting_value('visiosoft.theme.metsa::categories-sidebar-banner-one-code')|raw }}
                {% else %}
                    {% if setting_value('visiosoft.theme.metsa::categories-sidebar-banner-one-image') == "" %}
                        <img src="{{ img('theme::img/banner/sidebar-banner-1.jpg').url }}" alt="Sidebar Banner">
                    {% else %}
                        <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::categories-sidebar-banner-one-image')).path) }}"
                             alt="Banner">
                    {% endif %}
                {% endif %}
            </a>

        </div>

        <!-- Single Sidebar -->
        <div class="single-sidebar col-lg-12 col-md-6 col-12">

            <!-- Sidebar Banner -->
            <a href="#" class="sidebar-banner">
                {% if setting_value('visiosoft.theme.metsa::categories-sidebar-banner-two-type') == "code" %}
                    {{ setting_value('visiosoft.theme.metsa::categories-sidebar-banner-two-code')|raw }}
                {% else %}
                    {% if setting_value('visiosoft.theme.metsa::categories-sidebar-banner-two-image') == "" %}
                        <img src="{{ img('theme::img/banner/sidebar-banner-2.jpg').url }}" alt="Sidebar Banner">
                    {% else %}
                        <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::categories-sidebar-banner-two-image')).path) }}"
                             alt="Banner">
                    {% endif %}
                {% endif %}
            </a>

        </div>

        <!-- Single Sidebar -->


    </div>
</div>