{% block content %}
        <!-- Menu Section Start -->
        <!-- Breaking News Section Start -->
        {% include "theme::partials/home-partials/breaking-news" %}
        <!-- Breaking News Section End -->
        <!-- Hero Section Start -->
        <div class="hero-section section mt-30 mb-30">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row row-1">
                            <!-- center  -->
                            {% include "theme::partials/home-partials/headline-center" %}
                            <!-- END center  -->
                            <div class="order-lg-1 col-lg-3 col-12">
                                <div class="row row-1">
                                    <!-- Overlay Post Start|-->
                                     <!-- Top LEft  -->
                                    {% include "theme::partials/home-partials/headline-top-left" %}
                                    <!-- bottom LEft  -->
                                    {% include "theme::partials/home-partials/headline-bottom-left" %}
                                    <!-- Overlay Post stop -->
                                </div>
                            </div>

                            <div class="order-lg-3 col-lg-3 col-12">
                                <div class="row row-1">
                                    <!-- Overlay Post Start -->
                                    <!-- Top right  -->
                                    {% include "theme::partials/home-partials/headline-top-right" %}
                                    <!-- Bottom right  -->
                                    {% include "theme::partials/home-partials/headline-bottom-right" %}
                                    <!-- Overlay Post Start -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Hero Section End -->



        <!-- Post Section Start -->
        {% include "theme::partials/home-partials/homepage-post-sections" %}
        <!-- Post Section End -->

{% endblock %}