<div class="row mb-50">
    <div class="col-12">
        <a href="#" class="post-middle-banner">


            {% if setting_value('visiosoft.theme.metsa::content-banner-type') == "code" %}
                {{ setting_value('visiosoft.theme.metsa::content-banner-code')|raw }}
            {% else %}
                {% if setting_value('visiosoft.theme.metsa::content-banner-image') == "" %}
                    <img src="{{ img('theme::img/banner/post-middle-1.jpg').url }}" alt="Banner">
                {% else %}
                    <img src="{{ url('files/' ~ file(setting_value('visiosoft.theme.metsa::content-banner-image')).path) }}" alt="Banner">
                {% endif %}
            {% endif %}


        </a>

    </div>
</div>