<div class="row mb-50">
    <div class="col-12">
        <div class="post-block-wrapper">
            <div class="head sports-head">
                <h4 class="title">{{ setting_value('visiosoft.theme.metsa::bottom-section-two-column-name') }}</h4>
                <ul class="post-block-tab-list sports-post-tab-list nav d-none d-md-block">
                    {% include "theme::partials/home-partials/bottom-section-one-category-list" %}
                </ul>
                <ul class="post-block-tab-list sports-post-tab-list nav d-sm-block d-md-none">
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category</a>
                        <ul class="dropdown-menu">
                            {% include "theme::partials/home-partials/bottom-section-one-category-list" %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body pb-0">
                <div class="tab-content">
                    {% set allowedCategoriesBottom = setting_value('visiosoft.theme.metsa::bottom-section-two-categories') %}
                    {% set categories = entries('posts','categories').whereIn('id',allowedCategoriesBottom ).orderBy('id', 'desc').get() %}
                    {% for category in categories %}
                        <div class="tab-pane fade show {% if loop.index == 1 %}active{% endif %}"
                             id="bottomCategory{{ category.id }}">
                            {% set posts = entries('posts').where('enabled',1).where('category_id', category.id).orderBy('id', 'desc').paginate()  %}
                            <div class="row">
                                <div class="col-lg-8 col-12">
                                    <div class="row">
                                        {% for post in posts|slice(0, 1) %}
                                            <div class="post post-overlay post-large sports-post col-12 mb-20">
                                                <div class="post-wrap">
                                                    <div class="image">
                                                        {% if post.photo != "" %}
                                                            <img src="{{ post.photo.url }}" class="bTsO-big-img" alt="post">
                                                        {% else %}
                                                            <img src="{{ img('theme::img/post/post-37.jpg').url }}" alt="post">
                                                        {% endif %}
                                                    </div>

                                                    <div class="content">
                                                        <h2 class="title">
                                                            <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                                        </h2>
                                                        <div class="meta fix">
                                                            <a href="#" class="meta-item author">
                                                                <i class="fa fa-user"></i> {{ post.author.display_name }}
                                                            </a>
                                                            <span class="meta-item date">
                                                        <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        {% for post in posts|slice(1, 2) %}
                                            <div class="post post-overlay sports-post col-md-6 mb-20">
                                                <div class="post-wrap">
                                                    {% if post.youtube_video_url != "" %}
                                                        <a href="https://www.youtube.com/watch?v=S50yhCPOyQw"
                                                           class="image video-popup">
                                                            {% if post.photo != "" %}
                                                                <img src="{{ post.photo.url }}" class="bTsO-two-img" alt="post">
                                                            {% else %}
                                                                <img src="{{ img('theme::img/post/post-39.jpg').url }}" alt="post">
                                                            {% endif %}
                                                            <span class="video-btn">
                                                    <i class="fa fa-play"></i>
                                                </span>
                                                        </a>
                                                    {% else %}
                                                        <div class="image">
                                                            {% if post.photo != "" %}
                                                                <img src="{{ post.photo.url }}" class="bTsO-two-img" alt="post">
                                                            {% else %}
                                                                <img src="{{ img('theme::img/post/post-38.jpg').url }}" alt="post">
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                    <div class="content">
                                                        <h4 class="title">
                                                            <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                                        </h4>
                                                        <div class="meta fix">
                                                    <span class="meta-item date">
                                                        <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div><!-- Overlay Post Wrapper End -->

                                <!-- Post Wrapper Start -->
                                <div class="col-lg-4 col-12">
                                    <div class="row">

                                        <div class="col-lg-12 col-md-6 col-12 mb-20">
                                            {% for post in posts|slice(3, 3) %}
                                                <div class="post post-small post-list sports-post post-separator-border">
                                                    <div class="post-wrap">
                                                        {% if post.youtube_video_url != "" %}
                                                            <a href="https://www.youtube.com/watch?v=S50yhCPOyQw"
                                                               class="image video-popup">
                                                                {% if post.photo != "" %}
                                                                    <img src="{{ post.photo.url }}" class="bTsO-small-img" alt="post">
                                                                {% else %}
                                                                    <img src="{{ img('theme::img/post/post-39.jpg').url }}" alt="post">
                                                                {% endif %}
                                                                <span class="video-btn">
                                                                    <i class="fa fa-play"></i>
                                                                </span>
                                                            </a>
                                                        {% else %}
                                                            <a class="image" href="{{ post.route('view') }}">
                                                                {% if post.photo != "" %}
                                                                    <img src="{{ post.photo.url }}" class="bTsO-small-img" alt="post">
                                                                {% else %}
                                                                    <img src="{{ img('theme::img/post/post-40.jpg').url }}" alt="post">
                                                                {% endif %}
                                                            </a>
                                                        {% endif %}
                                                        <div class="content">
                                                            <h5 class="title">
                                                                <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                                            </h5>
                                                            <div class="meta fix">
                                                        <span class="meta-item date">
                                                            <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="col-lg-12 col-md-6 col-12 mb-20">
                                            {% for post in posts|slice(6, 1) %}
                                                <div class="post sports-post">
                                                    <div class="post-wrap">
                                                        <a class="image" href="{{ post.route('view') }}">
                                                            {% if post.photo != "" %}
                                                                <img src="{{ post.photo.url }}" class="bTsO-one-img" alt="post">
                                                            {% else %}
                                                                <img src="{{ img('theme::img/post/post-42.jpg').url }}" alt="post">
                                                            {% endif %}
                                                        </a>
                                                        <div class="content">
                                                            <h4 class="title">
                                                                <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                                            </h4>
                                                            <div class="meta fix">
                                                                <a href="#" class="meta-item date">
                                                                    <i class="fa fa-user"></i> {{ post.author.display_name }}
                                                                </a>
                                                                <span class="meta-item date">
                                                                <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                                            </span>
                                                            </div>
                                                            {% if post.summary.value %}
                                                                <p>{{ post.summary|nl2br|raw }}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>