<div class="row">
    <div class="col-lg-4 col-md-6 col-12 mb-50">
        <div class="post-block-wrapper">
            <div class="head education-head">
                <h4 class="title">{{ setting_value('visiosoft.theme.metsa::bottom-section-one-column-one-name') }}</h4>
            </div>
            <div class="body">
                <div class="four-row-post-carousel row-post-carousel post-block-carousel education-post-carousel">
                    {% set posts = entries('posts').where('enabled',1).where('category_id', setting_value('visiosoft.theme.metsa::bottom-section-one-column-one')).orderBy('id', 'desc').paginate() %}
                    <!-- Small Post Start -->
                    {% for post in posts %}
                        <div class="post post-small post-list education-post">
                            <div class="post-wrap">
                                <a class="image" href="{{ post.route('view') }}">
                                    {% if post.photo != "" %}
                                        <img src="{{ post.photo.url }}" class="bOcO-slider-img" alt="post">
                                    {% else %}
                                        <img src="{{ img('theme::img/post/post-28.jpg').url }}" alt="post">
                                    {% endif %}
                                </a>
                                <div class="content">
                                    <h5 class="title">
                                        <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                    </h5>
                                    <div class="meta fix">
                                            <span class="meta-item date">
                                                <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                            </span>
                                    </div>
                                    <div class="meta fix">
                                            <span class="meta-item category travel">
                            <a href="{{ post.category.route('view') }}"
                               class="meta-item">{{ post.category.name }}</a>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Small Post End -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mb-50">
        <div class="post-block-wrapper">
            <div class="head madical-head">
                <h4 class="title">Video</h4>
            </div>
            <div class="body">
                {% set videoPosts = entries('posts','default_posts').where('youtube_video_url','!=',null).paginate(10).pluck('id','id') %}
                <div class="two-row-post-carousel row-post-carousel post-block-carousel madical-post-carousel">
                    {% set posts = entries('posts').where('enabled',1).whereIn('posts_posts.id',videoPosts).paginate() %}
                    <!--Rows-->
                    {% for post in posts %}
                    <div class="post madical-post">
                        <div class="post-wrap">
                            <a href="{{ post.youtube_video_url }}"
                               class="image video-popup">
                                {% if post.photo != "" %}
                                    <img src="{{ post.photo.url }}" class="bOcO-video-img" alt="post">
                                {% else %}
                                    <img src="{{ img('theme::img/post/post-32.jpg').url }}" alt="post">
                                {% endif %}
                                <span class="video-btn">
                                    <i class="fa fa-play"></i>
                                </span>
                            </a>
                            <div class="content">
                                <h4 class="title"><a href="{{ post.route('view') }}">{{ post.title }}</a></h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--Rows-->

                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar Start -->
    {% include "theme::partials/home-partials/bottom-section-one-sidebar" %}
    <!-- Sidebar End -->

</div>