{% set allowedCategoriesBottom = setting_value('visiosoft.theme.metsa::bottom-section-two-categories') %}
{% set categories = entries('posts','categories').whereIn('id',allowedCategoriesBottom ).orderBy('id', 'desc').get() %}
{% for category in categories %}
    <li><a {% if loop.index == 1 %} class="active" {% endif %} data-toggle="tab"
                                                               href="#bottomCategory{{ category.id }}">{{ category.name }}</a>
    </li>
{% endfor %}
