<div class="row">
    <div class="col-lg-8 col-12 mb-50">
        <div class="post-block-wrapper">
            <div class="head feature-head">
                <h4 class="title">Öne Çıkan Haberler</h4>
                <!-- Tab List Start -->
                <ul class="post-block-tab-list feature-post-tab-list nav d-none d-md-block">
                    {% include "theme::partials/home-partials/featured-news-section-category-list" %}
                </ul>
                <!-- Tab List End -->

                <!-- Tab List Mobile Start -->
                <ul class="post-block-tab-list feature-post-tab-list nav d-sm-block d-md-none">
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category</a>
                        <ul class="dropdown-menu">
                            {% include "theme::partials/home-partials/featured-news-section-category-list" %}
                        </ul>
                    </li>
                </ul>
                <!-- Tab List Mobile End -->
            </div>
            <div class="body pb-0">
                <div class="tab-content">
                    <!-- Tab Pane Start-->
                    {% set allowedCategories = setting_value('visiosoft.theme.metsa::featured-category-section') %}
                    {% set categories = entries('posts','categories').whereIn('id',allowedCategories ).orderBy('id', 'desc').get() %}
                    {% for category in categories %}
                        <div class="tab-pane fade show {% if loop.index == 1 %}active{% endif %}"
                             id="category{{ category.id }}">
                            <div class="row">

                                {% set posts = entries('posts').where('enabled',1).where('category_id', category.id).orderBy('id', 'desc').paginate() %}
                                <div class="col-md-6 col-12 mb-20">
                                    {% for post in posts|slice(0, 2) %}
                                        <div class="post feature-post post-separator-border">
                                            <div class="post-wrap">
                                                <a class="image" href="{{ post.route('view') }}">
                                                    {% if post.photo != "" %}
                                                        <img src="{{ post.photo.url }}" alt="post">
                                                    {% else %}
                                                        <img src="{{ img('theme::img/post/post-11.jpg').url }}" alt="post">
                                                    {% endif %}
                                                </a>

                                                <div class="content">
                                                    <h4 class="title">
                                                        <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                                    </h4>
                                                    <div class="meta fix">
                                                        <a href="#" class="meta-item author">
                                                            <i class="fa fa-user"></i>{{ post.author.display_name }}
                                                        </a>
                                                        <span class="meta-item date">
                                                            <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                                        </span>
                                                        <a href="#" class="meta-item comment">
                                                            <i class="fa fa-eye"></i>{{ post.view_count }}
                                                        </a>
                                                    </div>
                                                    <!-- Description -->
                                                    {% if post.summary.value %}
                                                        <p>{{ post.summary|nl2br|raw }}</p>
                                                    {% endif %}
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>


                                <div class="col-md-6 col-12 mb-20">
                                    {% for post in posts|slice(2, 6) %}
                                    <div class="post post-small post-list feature-post post-separator-border">
                                        <div class="post-wrap">
                                            <a class="image" href="{{ post.route('view') }}">
                                                {% if post.photo != "" %}
                                                    <img src="{{ post.photo.url }}" alt="post">
                                                {% else %}
                                                    <img src="{{ img('theme::img/post/post-13.jpg').url }}" alt="post">
                                                {% endif %}
                                            </a>
                                            <div class="content">
                                                <h5 class="title">
                                                    <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                                </h5>
                                                <div class="meta fix">
                                            <span class="meta-item date">
                                                <i class="fa fa-clock-o"></i>{{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                                            </span>
                                                </div>
                                                <div class="meta fix">
                                            <span class="meta-item category sports">
                            <a href="{{ post.category.route('view') }}"
                               class="meta-item">{{ post.category.name }}</a>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- Sidebar Start -->
    {% include "theme::partials/home-partials/featured-news-section-sidebar" %}
    <!-- Sidebar End -->

</div>
