{% set allowedCategories = setting_value('visiosoft.theme.metsa::featured-category-section') %}
{% set categories = entries('posts','categories').whereIn('id',allowedCategories ).orderBy('id', 'desc').get() %}
{% for category in categories %}
    <li><a {% if loop.index == 1 %} class="active" {% endif %} data-toggle="tab"
                                                               href="#category{{ category.id }}">{{ category.name }}</a>
    </li>
{% endfor %}
