<div class="order-lg-6 col-lg-6 col-12">
    <div class="post-carousel-1">
        {% set fiterType = setting_value('visiosoft.theme.metsa::headline-center-type') %}
        {% set posts = entries('posts').where('enabled',1).fiterType().orderBy('id', 'desc').paginate() %}
        {% for post in posts|slice(0, 10) %}
            <div class="post post-large post-overlay hero-post">
                <div class="post-wrap">
                    <a href="{{ post.route('view') }}">
                        <div class="image image-box-gallery">
                            {% if post.photo != "" %}
                                <img src="{{ post.photo.url }}" class="gallery-center-img" alt="post">
                            {% else %}
                                <img src="{{ img('theme::img/post/post-3.jpg').url }}" class="gallery-center-img" alt="post">
                            {% endif %}
                        </div>
                    </a>
                    <a href="#" class="category politic"></a>
                    <div class="content">
                        <h2 class="title"><a href="{{ post.route('view') }}">{{ post.title }}</a></h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>