<div class="row">
    <div class="col-lg-4 col-md-6 col-12 mb-50">
        <div class="post-block-wrapper">
            <div class="head gadgets-head">
                {% set posts = entries('posts').where('enabled',1).where('category_id', setting_value('visiosoft.theme.metsa::footer-news-block-one')).orderBy('id', 'desc').paginate(8) %}
                <h4 class="title">{{ posts[0].category.name }}</h4>
            </div>
            <div class="body">
                <div class="sidebar-post-carousel post-block-carousel gadgets-post-carousel">

                    {% for post in posts %}
                        <div class="post gadgets-post">
                            <div class="post-wrap">
                                <a class="image" href="{{ post.route('view') }}">
                                    {% if post.photo != "" %}
                                        <img src="{{ post.photo.url }}" class="other-section-img" alt="post">
                                    {% else %}
                                        <img src="{{ img('theme::img/post/post-43.jpg').url }}" alt="post">
                                    {% endif %}
                                </a>
                                <div class="content">
                                    <h4 class="title">
                                        <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-50">
        <div class="post-block-wrapper">
            {% set posts = entries('posts').where('enabled',1).where('category_id', setting_value('visiosoft.theme.metsa::footer-news-block-two')).orderBy('id', 'desc').paginate(8) %}
            <div class="head fashion-head">
                <h4 class="title">{{ posts[0].category.name }}</h4>
            </div>
            <div class="body">
                <div class="sidebar-post-carousel post-block-carousel fashion-post-carousel">

                    {% for post in posts %}
                        <div class="post fashion-post">
                            <div class="post-wrap">
                                <a class="image" href="{{ post.route('view') }}">
                                    {% if post.photo != "" %}
                                        <img src="{{ post.photo.url }}" class="other-section-img" alt="post">
                                    {% else %}
                                        <img src="{{ img('theme::img/post/post-43.jpg').url }}" alt="post">
                                    {% endif %}
                                </a>
                                <div class="content">
                                    <h4 class="title">
                                        <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-50">
        <div class="post-block-wrapper">
            {% set posts = entries('posts').where('enabled',1).where('category_id', setting_value('visiosoft.theme.metsa::footer-news-block-three')).orderBy('id', 'desc').paginate(8) %}
            <div class="head">
                <h4 class="title">{{ posts[0].category.name }}</h4>
            </div>
            <div class="body">
                <div class="sidebar-post-carousel post-block-carousel">
                    {% for post in posts %}
                        <div class="post fashion-post">
                            <div class="post-wrap">
                                <a class="image" href="{{ post.route('view') }}">
                                    {% if post.photo != "" %}
                                        <img src="{{ post.photo.url }}" class="other-section-img" alt="post">
                                    {% else %}
                                        <img src="{{ img('theme::img/post/post-43.jpg').url }}" alt="post">
                                    {% endif %}
                                </a>
                                <div class="content">
                                    <h4 class="title">
                                        <a href="{{ post.route('view') }}">{{ post.title }}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>