<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

<head>
    {% include "theme::partials/metadata" %}

</head>
<body>
{% include "theme::partials/navigation" %}

<div id="main-wrapper">
{% include "theme::partials/header" %}
    {% if (request_path() == '/') %}
        {% include "theme::sayfalar/indexone" %}
    {% else %}
        {% block content %}{% endblock %}
    {% endif %}
</div>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}

</body>

</html>