{% extends layout('default') %}
        {% include "theme::sayfalar/indexone" %}

{% block content %}
    <div id="posts">
        <div class="container">

            {% set posts = entries('posts').where('enabled',1).recent().paginate() %}

            {% include "anomaly.module.posts::posts/partials/posts" with {"posts": posts} %}

            {{ posts.links|raw }}

        </div>
    </div>
{% endblock %}
